@import '~antd/dist/antd.css';

.and-layout-header{
    padding: 20px 20px;
}

#myNav{
  height: 70px;
}

#header{
   padding: 20px 20px;
   height: 200px;
   color: white;
   
}

#searchbar{
    padding-left: 70px;
    float: left;
    width: 1190px;
    position: relative;
    top: 20px;
}

.sell{
    padding-right:40px;
    float: right;
    position: relative;
    top: 12px;
}

#butt{
     float: right;
}

#content{
    position: absolute;
    top: 160px;
    background-color: #f0f2f5;
    float: center;
    left: 160px;
}

#footer {
    position: relative;
    top: 100px;
}


#logo {
    width: 130px;
    line-height: 54px;
    margin: 20 20px;
    padding-top: 15px;
    padding-left: 50px;
    padding-bottom: 0px;
    float: left;
  }

.logo-color{
    color: #ff073a
}

#apply{
    float: right;
    position: in-line;
}

#header2{
    top:70px;
}

.sider{
    position: relative;
    top: 40;
}

.board {
    min-height: 280px;
    padding: 24px;
    background: #fff;
  }


#components-layout-demo-top-side-2 .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background:#FFF7F8;
  }
  
  .ant-row-rtl #components-layout-demo-top-side-2 .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
  
  .site-layout-background {
    background: #fff;
  }