@import '~antd/dist/antd.css';

.and-layout-header{
    padding: 20px 20px;

}


#myNav{

  height: 50px;
}

#header{
    padding: 20px 20px;
   margin-bottom: 20px;
  
}

#searchbar{
    float: left;
    width: 370px;
    position: relative;
    top: 20px;
}
.sell{
    position: relative;
    top: 40px;
    width: 100;
    height: 45px;
    display: in-line;
    border-style: ridge;
}

.buttonsell{
    height: 35px;
    float: right;
}

#butt{
     height: 30px;
     left: 200px;
     float: right;
     top: 5px;
     background-color: #5c0011;
}

#content{
    position: absolute;
    top: 160px;
    background-color: #f0f2f5;
    float: center;
    left: 160px;
}


#footer {
    position: relative;
    top: 100px;
}

#searchbar {
    position: auto;
    width: 30;
}

#logo {
   width: 130px;
    line-height: 54px;
    margin: 20 20px;
    margin-right: 40px;
    padding-top: 15px;
    padding-bottom: 0px;
    padding-left: 30px;
    float: left;
  }

.filter{
    background-color: #ececec;;
   
    top: 100px;
    position: relative;
    height: 200px;
    margin: auto;
    width: 50%;
    border: 3px  green;
}
